.l{
  &-project{
    &-inner{
      max-width: 1280px;
      width:85%;
      margin: auto;
      padding-bottom: 69px;
      border-bottom: 1px solid #000;
      &-ttl{
        max-width: 573px;
        margin: auto;
        p{
          font-size: 14.69px;
          font-size: 1.469rem;
          font-weight: normal;
          letter-spacing: 0;
          text-align: center;
        }
        h2{
          margin: 34px auto 62px;
        }
      }
      &-content{
        article{
          max-width: 627px;
          margin: auto;
          figure{
            max-width: 510px;
            width: auto;
            margin: 0 auto 5px;
          }
          p{
            font-size: 12.76px;
            font-size: 1.276rem;
            text-align: center;
            margin: 35px 0;
            line-height: 2;
          }
        }
        .project-slide-box{
          ul{
            &.slide-navigation{
              justify-content: center;
              .item{
                max-width: 80px;
                margin: 35px 15px;
                .sns-links{
                  justify-content: space-between;
                  align-items: center;
                  margin: 15px 0;
                  .in{
                    max-width: 19px;
                  }
                  .tw{
                    max-width: 19.41px;
                  }
                  .fb{
                    max-width: 17.19px;
                  }
                }
              }
            }
          }
          .slick-prev,
          .slick-next{
            width: 46px;
            height: 65px;
          }
          .slick-next.slick-arrow{
            background: url(../img/next.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            right: -70px;
            &:before{
              content: unset;
            }
          }
          .slick-prev.slick-arrow{
            background: url(../img/back.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            left: -70px;
            &:before{
              content: unset;
            }
          }
        }
      }
    }
  }
}
